﻿@using Projekt.Models
@model Usterki
@{
    ViewBag.Title = "Dodaj";
}

<h2>Dodaj</h2>
<span style="font-size: 15px; color: green;">
    <h3>@ViewBag.Message</h3>
</span>

<!DOCTYPE html>
<body>
    <div id="posty">
        <font size="3">
            @using (Html.BeginForm("DodajZgloszenie", "Usterki", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <span class="display-name">@Html.DisplayNameFor(model => Model.typUsterki)</span>
                <div>
                    @Html.DropDownListFor(m => m.typUsterki, new SelectList(Enum.GetValues(typeof(Typ))), "Wybierz rodzja")
                    @Html.ValidationMessageFor(model => Model.typUsterki, "", new { @class = "text-danger" })
                </div>
                <span class="display-name">@Html.DisplayNameFor(model => Model.opis)</span>
                <div>
                    <span class="textboxcontent">@Html.TextAreaFor(model => Model.opis, new { @style = "color: #000000" })</span>
                    @Html.ValidationMessageFor(model => Model.opis, "", new { @class = "text-danger" })
                </div>
                <div>
                    <span class="display-name">@Html.DisplayNameFor(model => Model.ImagePath)</span>

                    <input type="file" name="ImageFile" />
                </div>
                <br />
                <br />


                <div>
                    <input id="Submit1" type="submit" value="Utwórz" style="color: black;" />
                </div>


            }
        </font>
    </div>
</body>
