﻿@model Projekt.Models.Aktualnosci
@{
    ViewBag.Title = "DodajPost";
}

<h2>DodajPost</h2>
<span style="font-size: 15px; color: green;">
    <h3>@ViewBag.Message</h3>
</span>

<!DOCTYPE html>
<body>
    <div id="posty">
        <font size="3">
            @using (Html.BeginForm("DodajPost", "Home", FormMethod.Post, new {enctype = "multipart/form-data" } ))
            {
<span class="display-name">@Html.DisplayNameFor(model => Model.Title)</span>
<div>
    <span class="textboxcontent">@Html.TextBoxFor(model => Model.Title, new { htmlAttributes = new { @class = "form-control" }, @style = "color: #000000" })</span>
    @Html.ValidationMessageFor(model => Model.Title, "", new { @class = "text-danger" })
</div>
<span class="display-name">@Html.DisplayNameFor(model => Model.Description)</span>
<div>
    <span class="textboxcontent">@Html.TextAreaFor(model => Model.Description, new { @style = "color: #000000" })</span>
    @Html.ValidationMessageFor(model => Model.Description, "", new { @class = "text-danger" })
</div>
               <div>
                    <span class="display-name">@Html.DisplayNameFor(model => Model.ImagePath)</span>

                    <input type="file" name="ImageFile" />
                </div>
<br />
<br />

<div>
    <input id="Submit1" type="submit" value="Utwórz" style="color: black;" />
</div>


            }
        </font>
    </div>
</body>
